<% # edit.html.haml using partial %>
<h2>Edit Existing Movie</h2>
<% if session[:username] %>
    Using Facebook Account <strong><%= session[:username] %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <p>Your must Sign In to Edit</p>
    <a href="/auth/facebook">Sign in with Facebook</a>
  <% end %>
<%= form_tag movie_path(@movie), :method => :put do %>
  <%= label :movie, :title, 'Title' %>
  <%= text_field :movie, 'title' %>
  <br/>
  <%= label :movie, :description, 'description'   %>
  <br/>
  <%= text_area :movie, 'description',:value => @movie.description   %>
  <br/>
  <%= label :movie, :rating, 'Rating' %>
  <%= select :movie, :rating, ['G','PG','PG-13','R','NC-17'] %>
  <%= label :movie, :release_date, 'Released On' %>
  <%= date_select :movie, :release_date %>
  <br/>
  <%= submit_tag 'Update Movie Info', :class => 'btn btn-primary' %>
<% end %>
